.grid-image {
  &.has-margin {
    div {
      margin: 0 -1.5rem;
    }
  }
}

.grid-image-link {
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    > li {
      width: 16.66%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
      padding: 10px 0;
      margin: 0 0 10px 0;
      background: url("/images/tools/tools-bg.png") no-repeat 70px 20px;
      background-size: 75px;
      overflow: visible;
      img {
        max-width: 60px;
        margin: 0 auto;
      }
      h3 {
        @apply flex items-center  mt-3 mb-3;
        font-size: 14px;
        svg {
          @apply ml-2;
        }
      }
      &:hover {
        h3 {
          @apply text-tacao;
          path {
            @apply text-tacao;
            stroke: #f49d85 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .grid-image {
    ul {
      @apply flex-wrap m-0 pb-3 px-0 items-center justify-center;
      margin: 0 -1rem;
      li {
        width: 33%;
        @apply px-3;
        img {
          height: auto !important;
        }
      }
    }
  }
  .grid-image-link {
    ul {
      @apply flex-wrap;
      li {
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .grid-image {
    div {
      margin: 0;
    }
  }

  .grid-image-link {
    ul {
      > li {
        background: url("/images/tools/tools-bg.png") no-repeat 35px 0;
        img {
          width: 50px;
        }
        h3 {
          font-size: 10px;
        }
      }
    }
  }
}
